<ul class="list-group">
    <% users.forEach(function(user) { %>
    <h4>
        <a href="#" class="list-group-item">
            <%= user.fName %>
            <%= user.lName %> |
            <%= user.username %> |
            <%= user.email %>
        </a>
    </h4>
    <% }); %>