<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> @
        <%= user.username %><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="logout">Logout</a></li>
    </ul>
</li>