<!-- public/partials/header.ejs -->
<div class="container">
        <div class="transbox">
                <center>
                    <p>
                        <h2>&lt;...---***Resume Builder***---...&gt;</h2>
                    </p>
                </center>
            </div>
    <div class="card card-container">
        <center><h1>Welcome...</h1>
        <h3>to the future...</h3></center>
    </div>
</div>