<!-- public/partials/myresume-c.ejs -->
<div class="container">
    <div class="transbox">
        <center>
            <p>
                <h2>My Resume</h2>
                <h4>Here you'll find any resume you've built...</h4>
            </p>
        </center>
    </div>
    <div class="card card-container">
        <div class="alert alert-warning">
            You haven't built any resume yet.
        </div>
    </div>
</div>