<!-- public/partials/rsumetemp-c.ejs -->
<div class="container">
    <div class="transbox">
        <center>
            <p>
                <h2>Resume Templates...</h2>
                <h4>Please select a template...</h4>
            </p>
        </center>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="zoom">
                <div class="card card-container-t">
                    <center><br>temp#1</center>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="zoom">
                <div class="card card-container-t">
                    <center><br>temp#2</center>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="zoom">
                <div class="card card-container-t">
                    <center><br>temp#3</center>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="zoom">
                <div class="card card-container-t">
                    <center><br>temp#4</center>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="zoom">
                <div class="card card-container-t">
                    <center><br>temp#5</center>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="zoom">
                <div class="card card-container-t">
                    <center><br>temp#6</center>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="zoom">
                <div class="card card-container-t">
                    <center><br>temp#7</center>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="zoom" align="center">
                <div class="card card-container-t">
                    <center><br>temp#8</center>
                </div>
            </div>
        </div>
    </div>
</div>