<html>

<head>
    <title>Resume_Builder : Signup</title>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <% include ../partials/dashboard-c %>
</body>
</html>