<html>

<head>
    <title>Resume_Builder : Signup</title>
    <% include ../partials/head %>
</head>

<body class="parallax" onload="hplane()">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="move" id="move"></div>
    <div style="z-index:1;position:relative;">
        <% include ../partials/dashboard-c %>
    </div>
</body>

</html>