<html>

<head>
    <title>Resume_Builder : Home</title>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <% include ../partials/home-c %>
</body>

</html>