<html>

<head>
    <title>Resume_Builder : Login</title>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <% include ../partials/login-c %>
</body>
</html>