<html>

<head>
    <title>Resume_Builder : Resume Builder</title>
    <% include ../partials/head %>
    <% include ../partials/rb_formscript %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <% include ../partials/resumebuild-c %>
</body>

</html>